
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    @await Html.PartialAsync("_AD_Header")

    <style>
        .RunStatus-Failed {
            color: #e73d3e;
        }

        .RunStatus-Succeeded {
            color: #24b263;
        }

        .RunStatus-Retry {
            color: #006400;
        }

        .RunStatus-Canceled {
            color: #e73d3e;
        }

        .RunStatus-InProgress {
            color: #fbbc05;
        }

        .RunStatus-Unknown {
            color: #006400;
        }

        .main-menu.menu-light .navigation > li.open:not(.menu-item-closing) > a{
            background: none;
        }

        .main-menu.menu-light .navigation > li ul .open > a {
            background: none;
        }
    </style>
</head>
<!-- END: Head-->
<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">

    @await Html.PartialAsync("_AD_layout_head")
    @await Html.PartialAsync("_AD_MainMenu")
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        @RenderBody()
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    @await Html.PartialAsync("_AD_footer")

    @await Html.PartialAsync("_AD_Scripts")
    @RenderSection("js", false);
</body>
<!-- END: Body-->

</html>