
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    @await Html.PartialAsync("_AD_Header")
    @RenderSection("css", false);
    <style>
        .RunStatus-Failed {
            color: #e73d3e;
        }

        .RunStatus-Succeeded {
            color: #24b263;
        }

        .RunStatus-Retry {
            color: #006400;
        }

        .RunStatus-Canceled {
            color: #e73d3e;
        }

        .RunStatus-InProgress {
            color: #fbbc05;
        }

        .RunStatus-Unknown {
            color: #006400;
        }

        .main-menu.menu-light .navigation > li.open:not(.menu-item-closing) > a {
            background: none;
        }

        .main-menu.menu-light .navigation > li ul .open > a {
            background: none;
        }

        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        #loader-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #ffffff; /* Background color of the loader */
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.5);
        }

        #loader {
            border: 16px solid #006400; /* Loader color */
            border-radius: 50%;
            border-top: 16px solid #ffffff; /* Background color of the loader */
            width: 120px;
            height: 120px;
            animation: spin 1s linear infinite;
        }

        .loader-section {
            position: fixed;
            width: 50%;
            height: 100%;
            background: #ffffff; /* Background color of the loader */
            z-index: 1000;
            background-color: rgba(255, 255, 255, 0.5);
        }

        .section-left {
            left: 0;
        }

        .section-right {
            right: 0;
        }

        .main-menu.menu-light .navigation > li ul .active {
            background: none;
            box-shadow: none;
        }

            .main-menu.menu-light .navigation > li ul .active > a{
                color: #006400;
            }

        .main-menu a:hover {
                color: #006400;
            }
        a:hover {
            color: #006400;
            text-decoration: none;
        }

        .main-menu.menu-light .navigation > li.active > a {
             background:none;
            box-shadow: none;
            color: #006400;
        }

        .btn-active{
            margin-bottom: 1rem;
        }
    </style>
</head>
<!-- END: Head-->
<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">
    <div id="loader-wrapper" style="z-index: 10000;">
        <img src="~/images/hinh.svg" asp-append-version="true" alt="SVG Image">
    </div>
    @await Html.PartialAsync("_AD_layout_head")
    @await Html.PartialAsync("_AD_MainMenu")
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        @RenderBody()
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    @await Html.PartialAsync("_AD_footer")

    @await Html.PartialAsync("_AD_Scripts")
    @RenderSection("js", false);
    <script>
        function activeElementDatabase(idDatabase, serverName) {
            var idDatabase = idDatabase;
            var serverName = serverName;
            addClassToElement('Server-database');
            addClassToElement(serverName);
            addClassToElement(serverName + '-' + idDatabase);
        }
        function addClassToElement(id) {
            // Lấy phần tử cần thêm class
            var myElement = document.getElementById(id);

            // Thêm class vào phần tử
            if (myElement) {
                myElement.classList.add('open');
            }
        }
        document.addEventListener("DOMContentLoaded", function () {
            // Simulate page loading delay (remove this line in production)

            // Hide loader
            document.getElementById("loader-wrapper").style.display = "none";

            // Display page content
            //document.getElementById("content").style.display = "block";
            // Adjust the delay time as needed
        });
    </script>

    <script>
        function getAntiForgeryToken() {
            let token = '@Html.AntiForgeryToken()';
            token = $(token).val();
            return token;
        }
        function ConfirmDelete() {
            var x = confirm("Xóa?");
            if (x)
                return true;
            else
                return false;
        }
    </script>
</body>
<!-- END: Body-->

</html>