html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 13px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@media (max-width: 575.98px) {
    
}
@media (min-width: 1440px){
    .container-xxl {
        max-width: none;
    }
}
@media (max-width: 575.98px){
    .file-manager-application .content-area-wrapper .view-container.list-view.btn-submit {
        max-width: 130px;
    }
}
